BasedOnStyle: LLVM
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: "true"
AlignConsecutiveAssignments: "true"
AlignConsecutiveDeclarations: "true"
AlignEscapedNewlines: Left
AlignOperands: "true"
AlignTrailingComments: "true"
AllowShortIfStatementsOnASingleLine: Always
BinPackArguments: "true"
BinPackParameters: "true"
BreakBeforeBraces: Stroustrup
BreakBeforeTernaryOperators: "true"
ColumnLimit: "120"
IndentWidth: "4"
KeepEmptyLinesAtTheStartOfBlocks: "false"
MaxEmptyLinesToKeep: "1"
NamespaceIndentation: All
PointerAlignment: Right
ReflowComments: "true"
SortIncludes: "true"
SortUsingDeclarations: "true"
SpaceAfterCStyleCast: "true"
SpaceAfterLogicalNot: "false"
SpaceAfterTemplateKeyword: "false"
SpaceBeforeAssignmentOperators: "true"
SpaceBeforeCtorInitializerColon: "false"
SpaceBeforeInheritanceColon: "false"
SpaceBeforeParens: "ControlStatements"
SpaceBeforeRangeBasedForLoopColon: "false"
SpaceInEmptyParentheses: "false"
SpacesInCStyleCastParentheses: "false"
SpacesInParentheses: "false"
SpacesInSquareBrackets: "false"
TabWidth: "4"
UseTab: Always